!!!
html
    head
    body
        p login or register
        form(action='/users', method= 'POST')
            input#name(type="text" name="name")
            br
            input#email(type="text" name="email")
            br
            input(type="submit" value="submit")
