<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>register</h1>
    <form method="POST" action="/register_result">
      name<input type="text" name="new_name" id="new_name" /><br>
      password<input type="pawsword" name="new_password" id="new_password" /><br>
      <input type="submit" />
    </form>
    <h1>login</h1>
    <form method="POST" action="/login_result">
      name<input type="text" name="name" id="name" /><br>
      password<input type="pawsword" name="password" id="password" /><br>
      <input type="submit" />
    </form>
  </body>
</html>
